<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>jitai_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{1298,1784}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{1298,1784}}</string>
        <key>sourceSize</key>
        <string>{1298,1785}</string>
      </dict>
      <key>zongcaijingchi_fanti.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1784},{256,70}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,70}}</string>
        <key>sourceSize</key>
        <string>{256,71}</string>
      </dict>
      <key>xianshidi3_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{1298,0},{736,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{736,132}}</string>
        <key>sourceSize</key>
        <string>{736,132}</string>
      </dict>
      <key>jiantou.png</key>
      <dict>
        <key>frame</key>
        <string>{{2034,0},{16,9}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{4,8},{16,9}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>biaotizi_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,1784},{250,60}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,1},{250,60}}</string>
        <key>sourceSize</key>
        <string>{251,63}</string>
      </dict>
      <key>mingchengdi_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,1784},{234,94}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,0},{234,94}}</string>
        <key>sourceSize</key>
        <string>{235,94}</string>
      </dict>
      <key>caijinlishi_yinyu.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,1784},{233,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{233,57}}</string>
        <key>sourceSize</key>
        <string>{233,57}</string>
      </dict>
      <key>caijinlishi_riyu.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,1784},{233,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{233,51}}</string>
        <key>sourceSize</key>
        <string>{233,51}</string>
      </dict>
      <key>biaotilong1.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,1784},{230,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{230,109}}</string>
        <key>sourceSize</key>
        <string>{230,109}</string>
      </dict>
      <key>caijinlishi_fanti.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,1784},{211,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{211,51}}</string>
        <key>sourceSize</key>
        <string>{211,51}</string>
      </dict>
      <key>caijinglishi_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,1995},{210,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{210,51}}</string>
        <key>sourceSize</key>
        <string>{210,51}</string>
      </dict>
      <key>xianshidi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,1784},{854,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{854,152}}</string>
        <key>sourceSize</key>
        <string>{856,154}</string>
      </dict>
      <key>zongcaijingchi_riyu_.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,1936},{289,59}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{289,59}}</string>
        <key>sourceSize</key>
        <string>{290,61}</string>
      </dict>
      <key>zhuque_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{781,1936},{112,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{112,112}}</string>
        <key>sourceSize</key>
        <string>{114,114}</string>
      </dict>
      <key>xuanwu_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,1936},{104,105}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{104,105}}</string>
        <key>sourceSize</key>
        <string>{106,106}</string>
      </dict>
      <key>xuanzhuandi_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{997,1936},{60,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,89}}</string>
        <key>sourceSize</key>
        <string>{60,89}</string>
      </dict>
      <key>xianshidi4_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{1346,132},{677,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{677,122}}</string>
        <key>sourceSize</key>
        <string>{677,122}</string>
      </dict>
      <key>xiaobiaotitou_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{1057,1936},{847,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{847,70}}</string>
        <key>sourceSize</key>
        <string>{847,70}</string>
      </dict>
      <key>xianshidi2_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{1904,254},{797,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{797,144}}</string>
        <key>sourceSize</key>
        <string>{797,144}</string>
      </dict>
      <key>qinglong_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{1904,1051},{126,127}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,1},{126,127}}</string>
        <key>sourceSize</key>
        <string>{129,129}</string>
      </dict>
      <key>lishidi_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{1904,1177},{862,126}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,0},{862,126}}</string>
        <key>sourceSize</key>
        <string>{864,130}</string>
      </dict>
      <key>zongcaijingchi_yingyu.png</key>
      <dict>
        <key>frame</key>
        <string>{{1346,254},{305,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{305,62}}</string>
        <key>sourceSize</key>
        <string>{307,64}</string>
      </dict>
      <key>baihu_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{1651,254},{119,116}}</string>
        <key>offset</key>
        <string>{0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{119,116}}</string>
        <key>sourceSize</key>
        <string>{122,117}</string>
      </dict>
      <key>yuanjiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{1770,254},{117,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,66}}</string>
        <key>sourceSize</key>
        <string>{117,66}</string>
      </dict>
      <key>xianshidi5_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{1770,320},{628,113}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{628,113}}</string>
        <key>sourceSize</key>
        <string>{629,113}</string>
      </dict>
      <key>shuoming.png</key>
      <dict>
        <key>frame</key>
        <string>{{1770,948},{61,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,61}}</string>
        <key>sourceSize</key>
        <string>{61,61}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
